<div class=" d-flex profile-picture justify-content-center align-items-center">
    <img loading="lazy" class="rounded-circle profile_pic_max"
         alt="User avatar" src="/assets/images/users/{get_profile()}">
</div>