body {
    font-weight: 200;
    font-size: 1rem;
    font-family: var(--body-font), sans-serif;
    grid-template-columns: auto 1fr;
    overflow-wrap: break-word;
}

img, video, iframe {
    max-width: 100%;
    height: auto;
}

.container-fluid, .container, .main-content {
    max-width: 100%;
    overflow-x: auto;
}

.btn-link{
    cursor: pointer;
}

small{
    overflow-wrap: break-word;
}