{varType string $card_title}
{varType string $card_body}
{varType string $color}

<div class="col-md-4">
    <div class="card text-bg-{$color}">
        <div class="card-body">
            <h5 class="card-title">{$card_title}</h5>
            <p class="card-text fs-6">{$card_body}</p>
        </div>
    </div>
</div>